<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta lang="pt-BR" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css"
    />
    <title>Termo de falta</title>
  </head>
  <body>
    <%- include("styles.ejs") %> <%- include("script.ejs")%>
    <main>
      <h1>Termo de falta</h1>

      <section id="costumer-section">
        <label for="search-costumer-field">Cliente:</label>
        <div id="search-block">
          <i class="ti ti-building-store"></i>
          <input
            type="text"
            name="search-costumer-field"
            id="search-costumer-field"
            placeholder="Código do cliente"
          />
          <div class="progress-indicator" id="search-indicator"></div>
          <button id="search-button">Pesquisar</button>
        </div>
        <ol id="costumer-details-block">
          <li id="costumer-detail">
            <b>NOME:</b>
            <p id="cliente"></p>
          </li>
          <li id="costumer-detail">
            <b>CPF/CNPJ:</b>
            <p id="cgcent"></p>
          </li>
          <li id="costumer-detail">
            <b>ENDEREÇO:</b>
            <p id="endercob"></p>
          </li>
          <li id="costumer-detail">
            <b>NUMERO:</b>
            <p id="numerocob"></p>
          </li>
          <li id="costumer-detail">
            <b>BAIRRO:</b>
            <p id="bairrocob"></p>
          </li>
          <li id="costumer-detail">
            <b>CIDADE:</b>
            <p id="municcob"></p>
          </li>
        </ol>
      </section>

      <section id="products-section">
        <label for="products-list">Lista de produtos:</label>
        <textarea
          name="products-list"
          id="products-list"
          placeholder="Cod. Prod, qtd, embalagem, num NF"
        ></textarea>
      </section>

      <div id="generate-term-block">
        <div class="progress-indicator" id="generate-indicator"></div>
        <button id="generate-term-button">Gerar termo</button>
      </div>
    </main>
  </body>
</html>
